.col01-test {
	width: 442px;
}

.tabs-menu {
	&.full-one {
		li {
			width: 100%;
			text-align: left;

			a {
				text-align: left;
				padding-left: 10px;
				padding-right: 10px;
			}

		}

	}

}

.tabs-menu {
	&.gray {
		li {
			&.current {
				border-color: #e0e0e0;
			}

		}

	}

}

.content-accor {
	ul {
		li {
			&:hover {
				p {
					a {
						color: #fff;

						i {
							color: #fff;
						}

					}

				}

			}

			p {
				a {
					color: #888888;

					i {
						margin-right: 5px;
					}

				}

			}

		}

	}

}

.col02-test {
	width: 848px;
}

.head-col02-test {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	color: #1cbbb4;
	border-bottom: 4px solid #e0e0e0;
	padding: 14px 0 9px;
}

.info-test {
	padding: 14px 32px 24px;

	.left {
		float: left;
	}

	.right {
		float: right;
	}

	table {
		text-align: left;
		font-size: 16px;
		line-height: 30px;
	}

}

strong {
	font-weight: bold;
}

.progress {
	position: relative;
	overflow: hidden;
	border-radius: 40px;
	width: 240px;
	height: 10px;
	background: #e0e0e0;

	&:after {
		position: absolute;
		content: "";
		background: #2aabf8;
		border-radius: 40px;
		height: 100%;
		top: 0;
		left: 0;
	}

	&.p33 {
		&:after {
			width: 33%;
		}

	}

	&.p66 {
		&:after {
			width: 66%;
		}

	}

	&.p100 {
		&:after {
			width: 100%;
		}

	}

	span {
		position: absolute;
		border-right: 1px solid #fff;
		border-radius: 40px;
		width: 10px;
		height: 100%;
		top: 0;
		margin-left: -9px;
		z-index: 50;

		&.w33 {
			left: 33%;
		}

		&.w66 {
			left: 66%;
		}

	}

}

.number-test {
	background: #f0f0f0;
	color: #1cbbb4;
	font-size: 20px;
	font-weight: bold;
	padding: 2px 33px;

	i {
		font-size: 20px;
		margin-right: 10px;
	}

	.left {
		float: left;
	}

	.right {
		float: right;
	}

}

.ques-test {
	padding: 28px 33px 26px;
	border-bottom: 4px solid #e0e0e0;

	.ttl-test {
		font-size: 20px;
		font-weight: 400;
		color: #333333;
		margin-bottom: 1px;
	}

	.note {
		font-size: 16px;
		color: #888888;
	}

	.list-style {
		margin-top: 17px;

		li {
			display: block;
			margin-bottom: 15px;

			span {
				font-size: 18px;
				background-image: url(../img/icon25.png);
				padding-left: 31px;
			}

			input:checked + span {
				background-image: url(../img/icon26.png);
			}

			input:checked + span + .ip-test {
				display: block !important;
			}

		}

	}

}

.box-test-sb {
	padding: 12px 34px;

	.submit {
		width: 102px;

		i {
			display: inline-block;
			margin-left: 4px;
			margin-right: 0;
		}

	}

}

.ip-test {
	max-width: 520px;
	width: 100%;
	border: 0;
	border-bottom: 1px solid #1cbbb4;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	border-radius: 0;
	background: none;
	outline: none;
	margin-top: 14px;
	margin-left: 40px;
	font-size: 18px;
	padding-bottom: 2px
}

@media screen and (max-width:1500px) {
	.head-col02-test {
		font-size: 20px;
	}

}

.image-test {
	margin-top: 10px;
	margin-bottom: 21px;

	img {
		display: block;
		max-width: 100%;
	}

}

.textarea-test {
	height: 100px;
	width: 100%;
	height: 100px;
	font-size: 16px;
	line-height: 30px;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	-webkit-border-radius: 0;
	-khtml-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	background: no-repeat;
	border: 0;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	resize: none;
	border: 1px solid #c5c5c5;
	@include border-radius(3px);
	padding: 8px 18px;
	margin-bottom: -12px;
}

.content-accor ul li.watching i {
	color: #fff
}

.box-start {
	border-top: 1px solid #e0e0e0;
	padding: 47px 124px 110px;

	p {
		font-size: 20px;
		line-height: 22px;
		font-weight: 300;

		+ p {
			margin-top: 22px;
		}

	}

	.text-center {
		margin-top: 60px;
	}

}

.btn-start {
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	display: inline-block;
	border-radius: 5px;
	background: #1cbbb4;
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	border: 0;
	-webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.35);
	box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.35);
	padding: 16px 45px;
	cursor: pointer;
}
