@charset "utf-8";

/*===== COMMON =====*/
html {
	font-size: 62.5%;
}

html,
body {
	width: 100%;
	min-height: 100%;
}

body {
	font-size: 16px;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	-webkit-text-size-adjust: none;
	line-height: 1.4;
	color: #000000;
	background: #e0e0e0;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
}

.trans {
	@include opacity(1);
	@include transition();
	outline: none;
}

.trans:hover {
	@include opacity(0.8);
}

.hidden {
	display: none;
}

.invisible {
	visibility: hidden;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}
.text-underline{
	text-decoration: underline;
}
.text-justify {
	text-align: justify;
	text-justify: distribute;
}
img{
	display: block;
	max-width: 100%;
	&.inline{
		display: inline-block;
	}
}
.hidden{
	display: none;
}
.pointer{
	cursor: pointer;
}
