@charset "utf-8";

$base_width			: 1040px;
$base_width_content	: 1040px;

$base_font-sans		:  Meiryo, "Kozuka Gothic Pro", "Yu Gothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-kozuka		: "Kozuka Gothic Pro", "Yu Gothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Helvetica Neue", Helvetica, Arial, sans-serif;
$base_font-serif	: "Hiragino Mincho Pro", Times, "Times New Roman", Georgia, serif;


$base_font-size		: 16px;
$base_line-height	: 1.444;

$base_sm-break		: 640px;








/*==== PLEASE REMOVE ====*/


 

// Font color
$base-font-color		: #333333;